## 1. 데이터 형태 및 포맷
- 정수형 : int(), %d
- 실수형 : float(), %f
- 문자형 : str(), %s

In [1]:
# 변수 지정
num1 = 10
num2 = 5.0
tot = num1 + num2
char = 'hong gildong'

In [2]:
# 실수형태 출력 - 소수점 지정 X
print('합계는 %f입니다.' % tot)

합계는 15.000000입니다.

In [3]:
# 실수형태 출력 - 소수점 지정
print('합계는 %.2f입니다.' % tot)

합계는 15.00입니다.

In [4]:
# 2개 이상 지정 시 ( ) 사용
print('%s의 합계는 %.2f입니다.' % (char, tot))

hong gildong의 합계는 15.00입니다.

In [5]:
# 정수형태 출력
print('%s의 합계는 %d입니다.' % (char, tot))

hong gildong의 합계는 15입니다.

In [6]:
# 변수형 확인 - 정수형
type(num1)

int

In [7]:
# 변수형 확인 - 실수형
type(num2)

float

In [8]:
# 변수형 확인 - 문자형
type(char)

str

#### 변수명 지정 규칙
- 숫자로 시작할 수 없음
- 예약어는 변수로 지정할 수 없음 (ex. for, while, class 등)

## 데이터 구조 : 리스트
### 1) 리스트 인덱싱/슬라이싱

In [9]:
# 리스트 생성
a = [1, 5, 19, 2, 80]

In [10]:
# 인덱싱 - 앞에서부터 (0 시작)
a[0]

1

In [11]:
# 인덱싱 - 뒤에서부터 (-1 시작)
a[-1]

80

In [12]:
# 슬라이싱 - [n : m] : n은 포함, m은 미포함
a[2:4]

[19, 2]

In [13]:
# 슬라이싱 - 시작 인덱스를 생략하면 처음부터 추출
a[:3]

[1, 5, 19]

In [14]:
# 슬라이싱 - 끝 인덱스를 생략하면 끝까지 추출
a[1:]

[5, 19, 2, 80]

In [15]:
# 슬라이싱 - 인덱스를 모두 생략하면 리스트 전체 추출
a[:]

[1, 5, 19, 2, 80]

In [16]:
# 리스트의 타입 : list
type(a)

list

In [17]:
# 리스트 내 요소 변경
a[-1] = 60
print(a)

[1, 5, 19, 2, 60]

In [18]:
# 리스트 a의 값을 변경 : 2 -> 25
a[3] = 25
print(a)

[1, 5, 19, 25, 60]

# 2021.03.23.

In [19]:
a = [1, 5, 19, 2, 80]
print(a)
a[3] = 25
print(a)

[1, 5, 19, 2, 80]
[1, 5, 19, 25, 80]

In [20]:
a = [1, 5, 19, 2, 80]
print(a)
a[-2] = 25
print(a)

[1, 5, 19, 2, 80]
[1, 5, 19, 25, 80]

## 3. 객체(object)
- 객체 = 속성(attribute) + 기능(method), 변수(variable) + 함수(function)
- 멤버함수

In [21]:
# 리스트 객체 만들기
friends = [2, 30, 90, '철수', '영희', 9, 100]

In [22]:
# 타입 확인
type(friends)

list

In [23]:
# 멤버함수 확인
dir(friends)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- 항목 추가하기 :  append(), extend(), insert()

In [24]:
# append() : 값 추가
friends.append('은주')
print(friends)

[2, 30, 90, '철수', '영희', 9, 100, '은주']

In [25]:
# extend() : 2개 이상 추가 가능. 단, 대괄호를 사용하여 리스트 형식으로 입력
friends.extend(['민수', '민지'])
print(friends)

[2, 30, 90, '철수', '영희', 9, 100, '은주', '민수', '민지']

In [26]:
friends.insert(-2, '민정')
print(friends)

[2, 30, 90, '철수', '영희', 9, 100, '은주', '민정', '민수', '민지']

In [27]:
# 변수명.remove()
friends.remove(100)
print(friends)

[2, 30, 90, '철수', '영희', 9, '은주', '민정', '민수', '민지']

In [28]:
# del 변수명
a = 10
print(a)

10

In [29]:
del a
print(a)

NameError: name 'a' is not defined

In [30]:
# 변수명.index() 
friends.index('은주')

6

In [31]:
# 변수명.sort()
# str과 int가 섞여 있으면 불가능
friends.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
aa = ['k', 'a', 'j', 'b']
print(aa)

['k', 'a', 'j', 'b']

In [33]:
aa.sort()
print(aa)

['a', 'b', 'j', 'k']

In [34]:
bb = [10, 4, 2, 90]
print(bb)

[10, 4, 2, 90]

In [35]:
# 기본값 : 오름차순
bb.sort()
print(bb)

[2, 4, 10, 90]

In [36]:
# reverse = True => 내림차순
bb.sort(reverse = True)
print(bb)

[90, 10, 4, 2]

- 주요 내장함수

In [37]:
# 최댓값
max(bb)

90

In [38]:
# 최솟값
min(bb)

2

In [39]:
# 합계
sum(bb)

106

In [40]:
# 길이 : 리스트는 안에 있는 요소의 개수
len(bb)

4

In [41]:
# range()
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

## 4. 함수
- 내장 함수
- 사용자 정의 함수

In [42]:
def exponent(n, m):
    c = n ** m
    # d = n % m
    return c

In [43]:
result = exponent(3, 2)
print(result)

9

### 조건문

In [44]:
x = 10

if x == 10:
    print('철수')
    print('기태')
else:
    print('영희')
    
print('출력문의 끝')

철수
기태
출력문의 끝

In [46]:
score = float(input('성적을 입력하시오 : '))

if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score >=80:
    print('C')
elif score >=80:
    print('D')
else : print('F')
    
print('출력문의 끝')

성적을 입력하시오 : 65
F
출력문의 끝

In [47]:
sum = 0
for i in range(1, 11):
    sum += i
    
print(f'합계는 {sum}입니다.')

합계는 55입니다.

In [48]:
for i in range(100, 1001):
    sum += i
    if sum >= 500:
        break
        
print('원하는 조건이 만족되었습니다.')
print(i, sum)

원하는 조건이 만족되었습니다.
104 565

In [49]:
# 구구단 출력하기 

def gugudan(num):
    for i in range(1,10):
        print(f'{num} * {i} = {num * i}')
    print(f'{num}단이 출력되었습니다.')

In [50]:
num = int(input('숫자를 입력하세요 : '))
gugudan(num)

숫자를 입력하세요 : 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7단이 출력되었습니다.

# 실습자료 제출
- 사용자 지정 함수를 사용하지않고 for문과 if문만을 사용해서 1단부터 9단까지 구구단 출력

In [51]:
dan = int(input('1부터 9까지의 정수를 입력하세요 : '))

if (dan > 9) or (dan < 1) :
    print('입력값이 범위를 벗어났습니다.')
    
else :
    for i in range(1, 10) :
        print(f'{dan} X {i} = {dan * i}')
        
print('출력 완료')

1부터 9까지의 정수를 입력하세요 : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
출력 완료